#goy-rengi{
    background-color: blue;
    height: 120px;
    width: 800px;
    
    }
    
    #qirmizi-rengi{
    background-color: red;
    height: 120px;
    width: 800px;
    
    }
    
    #yasil-rengi{
    background-color: green;
    height: 120px;
    width: 800px;
    
    }