body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    
    
    }
    
    
    
    
    
    /* Header info bolmesi */
    .header-info{
    background-color: #262626;
    color: white;
    padding: 12px 0px;
    }
    
    
    .header-container{
    width: 800px;
    margin:0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
     }
    
     .header-contact-info i{
    color:blue;
    margin-right: 10px;
    
    
     }
         
    .header-contact-info span{
    margin-right:10px;
    
    
    }
    
    .header-social-icons i{
    margin: 0px 1px ;
    color: blue;
    
    
    }
    
    
    /* Header navbar bolmesi */
    .header-navbar{
        border: 1px solid red;
        padding: 18px 0px;
    
    }




.logo img{
height: 60px;


}


.Home-info ul{
margin: 0px;
padding: 0px;
display: flex;

}
    
.Home-info ul li{
padding: 0px 10px;
list-style: none;



}

