body{
margin: 0px;




}
#navbar{
    width: 1000px;
    height: 600px;
border: solid red 2px;
background-color:silver;

}

.Navbar1{
width: 500px;
height: 80px;
border: solid red 1px;
margin: auto;
margin-top: 20px;
background-color: rebeccapurple;
}


.Navbar2{
width: 300px;    
height:200px;
border:solid green 1px;
margin-left: 30px;
margin-top: 160px;
background-color: rebeccapurple;

}


.Navbar3{
width: 300px;
height: 200px;
border: solid green 1px;
margin-bottom:400px ;
margin-left: 666px;
margin-right: 50px;
margin-top: -202.5px;
background-color: rebeccapurple;





}
