body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 15px;
    
    
    }
    
    
    
    
    
    /* Header info bolmesi */
    .header-info{
    background-color: #262626;
    color: white;
    padding: 12px 0px;
    }
    
    
    .header-container{
    width: 100%;
    margin:0px auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
     }
    
     .header-contact-info i{
    color:blue;
    margin-right: 10px;
    
    
     }
         
    .header-contact-info span{
    margin-right:10px;
    
    
    }
    
    .header-social-icons i{
    margin: 0px 1px ;
    color: blue;
    
    
    }
    
    
    /* Header navbar bolmesi */
    .header-navbar{
        /* border: 1px solid red; */
        padding: 18px 0px;
    
    }







.Home-info ul{
margin: 0px;
padding: 0px;
display: flex;

}
    
.Home-info ul li{
padding: 0px 10px;
list-style: none;



}



#slider{
height: 500px;
/* border: 1px solid green; */
position: relative;

}

.slider-item{
width: 100%;
height: 100%;
/* border: 1px solid red; */
background-image: url('../img/slider-img.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: left center;
position: absolute;
top:0px;
left:0px;
z-index:1;
display: flex;
align-items: center;
justify-content: flex-start;


}



.slider-button{
/* border: 1px solid red;  */
width: 100%;
position: absolute;
top:50px;
left: 0px;
z-index:2;



}

.slider-content{
    width: 100%;
    margin:0 auto;
    margin-left:107px;
    margin-top: 150px;
    line-height: 10px;
  
    }

.slider-content h3{
    color:#585858;
    font-size: 16px;
    
    

}


.slider-content h1{
    color: #373737;
    font-size: 2.5rem;


}

.slider-content button{
    background: #454545;
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 42px;
    cursor:pointer;
    transition: all .3s ease;
    
}

.slider-content button:hover{
background: black;


}





.josh-info{
    
width: 100%;
height: 800px;




    }

.profile-image{
    margin-top:110px ;
    margin-left: 100px;
    width: 360px;
    height: 360px;
    background-color: red;

     background-image: url(../img/profile-img.jpg) 
 }


 .job-info{
width: 750px;
height: 364px;
/* background-color: red;   */
margin-left: 550px;
margin-top: -500px;
color:#878787;
}

.job-info h1{
color: #454545;
font-size: 35px;

}

 .about{
display: block;
/* background: green;  */
width: 360px;
height: 162px;
margin-left:150px;
color:#878787;; 
font-size: 16px;
line-height: 25px;

 }




/* section service style */

#sevice{
    padding: 30px 0px;
}

.service-item{
/* width: 100%; */
height: 250px;
border: 2px solid green;
margin:0px 15px;

}



h4{

color: #656565;
font-size: 20px;


}



p{
color: #878787;
font-size: 16px;



}


i{
    margin-left: 10px;
margin:105px;

font-size: 50px;

}









